/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Merienda One", cursive !important;
}

html {
    min-height: 100%;
}

body {
    background-color: #eceeff;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a,
Link {
    text-decoration: none;
}

.text-danger {
    color: #ff6452 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: var(--main-color);
}

.btn-outline-danger {
    border: 2px solid #ff6452 !important;
}

.btn-danger:hover {
    color: var(--main-color) !important;
    background-color: #fff !important;
}

:root {
    --main-color: #ff6452;
    --bg-color: #1f2937;
    --transition: all .5s ease;
}

/* End global  */
/* start navbar */
.navbar {
    background-color: var(--bg-color) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar .brand {
    font-size: 40px;
    font-weight: 600;
    color: var(--main-color) !important;
    text-decoration: none !important;
}

.navbar .brand img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 20px;
}

.navbar .nav-link:hover {
    color: #ff6452 !important;
}

.navbar .active {
    font-weight: 900 !important;
    color: var(--main-color) !important;
}

.navbar .nav-link span {
    top: -7px;
    left: 50px;
    background-color: var(--main-color);
    padding: 0 10px;
    border-radius: 50%;
}

.navbar .nav-link:hover span {
    color: #fff;
}

.navbar .fa-bars {
    color: var(--main-color);
    border: 2px var(--main-color);
    border-style: dashed;
    padding: 5px;
}

@media (max-width:768px) {
    .navbar .brand img {
        display: none;
    }

    .navbar .nav-link .fa-cart-plus {
        margin: 0 !important;
    }

    .navbar .nav-link span {
        left: 30px;
    }

    .navbar .nav-link button {
        margin-bottom: 10px;
    }

    .navbar .navbar-nav {
        align-items: flex-start !important;
    }
}

/* End navbar */

/* start header  */
.header {
    padding-bottom: 50px;
}

.header img {
    border-top-left-radius: 200px !important;
    padding-top: 12%;
}

.header .box {
    padding-top: 5%;
}

.header .box p:nth-of-type(1) {
    font-size: 20px;
}

.header .box h2 {
    font-size: 60px;
}

@media (max-width:576px) {
    .header img {
        padding-top: 10px;
    }

    .header .box {
        padding-top: 0;
    }

    .header .box p:nth-of-type(1) {
        font-size: 18px;
    }

    .header .box h2 {
        font-size: 40px;
    }
}

/* End header  */

/* start popular  */
.popular {
    padding-bottom: 50px;
}

.popular h2 {
    font-size: 50px;
}

.popular p {
    padding: 10px 0;
    line-height: 2;
}

.popular img {
    height: 200px;
}

.popular .box {
    border-top-left-radius: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(to right, #aaccd576, #aaccd500) !important;
    margin-bottom: 20px;
}

.popular .box img {
    border-top-left-radius: 100%;
}

/* End popular  */

/* start carousel  */
.swiper {
    width: 100%;
    height: 100%;
    border-top-left-radius: 150px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    display: none;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

@media(max-width:576px) {
    .swiper-none {
        display: none;
    }
}

/* End carousel  */

/* start new  */
.new {
    margin-top: 100px;
    margin-bottom: 50px;
}

.new .name {
    height: 50px;
    overflow: hidden;
    color: #1f2937;
}

.new img {
    width: 200px;
    height: 150px;
    z-index: -1;
    position: relative;
    border-radius: 50px !important;
}

.new .new-card {
    transition: var(--transition);
    height: 290px;
    background: linear-gradient(to right, #aaccd500, #aaccd500);
}

.new .new-btn {
    display: none;
}

.new .new-card:hover .new-btn {
    display: block;
}

.new .new-card:hover {
    background: linear-gradient(to right, #aaccd537, #aaccd542);
    transform: scale(1.1);
}

/* End new  */

/* start sale  */
.sale img {
    width: 200px;
    transition: var(--transition);
}

.sale img:hover {
    transform: scale(1.1);
}

.sale .box-left {
    background-color: #ffdbdf;
}

.sale .box-right {
    background-color: #06d1ff59;
}

.sale .sale-link {
    color: var(--main-color);
}

@media (max-width:768px) {
    .sale .sale-box {
        flex-direction: column;
        margin: 0 !important;
    }

    .sale .box-left {
        margin: 20px 0 !important;
        flex-direction: column;
    }

    .sale .box-right {
        flex-direction: column;
        margin-top: 10px;
    }

    .sale .box-right div,
    .sale .box-left div {
        margin: 20px 0 !important;
    }
}

/* End sale  */
/* start testimonials  */
.testimonials {
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonials p:nth-of-type(1) {
    line-height: 1.8;
    letter-spacing: 1px;
    height: 50px;
    overflow: hidden;
}

/* End testimonials  */
/* start form  */
::placeholder {
    color: var(--main-color) !important;
}

input {
    border: 2px solid var(--main-color) !important;
    color: var(--bg-color) !important;
}

:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* End form  */
/* start footer  */
footer {
    background-color: #9ce5ff60;
}

/* End footer  */

/* start cart  */
.empty-cart {
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 50px;
}
.cart {
    padding: 20px;
    border-radius: 10px;
}
.cart h4 {
    border-bottom: 2px solid #ff6452;
    padding-bottom: 5px;
    width: fit-content !important;
    margin-bottom: 20px;
}
.cart img {
    width: 180px;
    height: 150px;
    margin-right: 20px;
}
.cart-left , .cart-right {
    border: 1px solid #00000024;
    border-radius: 10px;
}
.cart-right {
    margin-top: 55px;
    height: 260px;
}
.cart-right button{
    font-size: 18px;
}
.cart-right button:nth-child(2){
    text-transform: capitalize;
}
.cart-right .cart-btn {
    text-decoration: none;
}
@media (max-width:992px) {
    .cart {
        text-align: center;
    }
    .cart .box {
        flex-direction: column;
    }
    .cart .remove {
        margin: auto;
        display: block;
        margin-top: 20px;
    }
    .cart-right {
        margin-top: 10px;
        height: auto;
    }
}
/* End cart  */